@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	background-image: url('ghost-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-transform: lowercase;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 10px;
	font-family: Helvetica;
}

h1 {
	font-size: 50px;
	color: white;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

.aboutme {
	font-family: 'Roboto Slab', serif;
	text-align: none;
	margin-top: 20px
}

ul {
	margin-top: 130px;
    text-align: right;
    list-style-type: none;
    font-size: 80px;
}

#contact {
	font-family: 'Roboto Slab', serif;
	margin-top: 50px;
	text-align: right;
	font-weight: 300;
}