@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

body {
	background-image: url('ghost-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-transform: lowercase;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 10px;
	font-family: Helvetica;
}

h1 {
	font-size: 50px;
	color: white;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

.aboutme {
	text-align: none;
	margin-top: 20px
}

ul {
	margin-top: 0px;
    text-align: right;
    list-style-type: none;
    font-size: 60px;
}

#contact {
	font-family: 'Roboto Slab', serif;
	margin-top: 20px;
	text-align: right;
	font-weight: 300;
}