body {
	background-image: url('ghost-background.jpg');
	background-repeat: no-repeat;
	color: #fff;
	font-family: Helvetica;
	text-transform: lowercase;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 10px;
}

h1 {
	font-size: 50px;
	color: white;
}

h2 {
	font-size: 20px;
}


.aboutme {
	text-align: none;
	margin-top: 20px
}

ul {
	margin-top: 130px;
    text-align: right;
    list-style-type: none;
    font-size: 80px;
    font-family: @import url('https://fonts.googleapis.com/css?family=Anton');
}

#contact {
	margin-top: 50px;
	text-align: right;
	font-weight: 300;
}