body {
	background-image: url("https://static1.squarespace.com/static/5182ed16e4b0b930f1c5663c/t/53ea6285e4b07fcca42891a9/1407869573365/Maranz+Residence+Rancho+Mirage-%232.jpg?format=2500wg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
	text-transform: lowercase;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

h1 {
	font-size: 200%;
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 200%;
}

#contact {
	text-align: right;
	font-weight: 300;
}