body {
	background-image: url("/images/ghost-background.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
	text-transform: lowercase;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

h1 {
	font-size: 200%;
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 200%;
}

#contact {
	text-align: right;
	font-weight: 300;
}